
.jumbotron {
  background: black;
  color: white;
  margin-top: 3.5rem;
}

.line {
  background: gray;
}

.card-img-top {
  width: 18rem;
  height: 18rem;
}

.fondo {
  width: 150%;
}

.footer {
  background: black;
  color: white;
}

.titulo1 {
  font-size: 1.2rem;
}

li {
  list-style: none;
}

a {
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.pie {
  margin-left: 7.7rem;
}

.separacion {
  border: 1px solid gray;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* ABOUT */
.about-body {
  font-size: 1.2rem;
  margin-bottom: 5rem;
  color: black;
}

.breadcrumb-text {
  font-weight: 2rem;
  font-size: 1.5rem;
}

.breadcrumb a {
  color:black;
  font-weight: 2rem;
  font-size: 1.5rem;
}

.container2 {
  width: 70%;
}
